.container {
    margin: 20px;
    display: grid;
    /* height: 500px; */
    /* grid-template-columns: 200px 150px 20% auto; */
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 5rem minmax(2rem, 5rem) 5rem;
}

.el1 {
    background: blue;
    opacity: 0.5;
}

.el2 {
    background: gray;
    opacity: 0.5;
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 2;
    grid-row-end: span 1;
}

.el3 {
    background: green;
    opacity: 0.5;
    grid-column-start: 2;
    grid-column-end: span 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.el4 {
    background: yellow;
    opacity: 0.5;
}